<p>
  <strong>Mountain:</strong>
  <%= h incident.mountain %>
</p>
<p>
  <strong>When:</strong>
  <%= h incident.when %>
</p>
<p>
  <strong>Title:</strong>
  <%= h incident.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= h incident.description %>
</p>